

	<!-- Start Banner Area -->

	<!-- End Banner Area -->
	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container pt-4">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="img/login.jpg" alt="">
						<div class="hover">
							<h4>New to our website?</h4>
							<p>Create an account in our website to experience full features </p>
							<a class="primary-btn" href="/create_Account">Create an Account</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6 ">
					<div class="login_form_inner  justify-content-center">
						{{!-- <h3>Log in to enter</h3> --}}
						
						<form class="row login_form" action="/login" method="post" id="loginform" novalidate="novalidate">
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="email" name="email" placeholder="Username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'" required>
							</div>
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="password" name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" required>
							</div>
							<div class="col-md-12 form-group">
								<div class="creat_account">
									{{!-- <input type="checkbox" id="f-option2" name="selector"> --}}
									{{#if loginError}}
									<label for="f-option2" style="color: red;">invalid username or password</label>
									{{/if}}
								</div>
							</div>
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn">Log In</button>
								<a href="/forgot_Password">Forgot Password?</a>
							</div>
						</form>
						
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->
<script>
$(document).ready(function(){
  		$("#loginform").validate({
    rules:{

		email: { 
			required: true,
			 email: true 
			 },
          password:{
			required: true,
            minlength:3,
            maxlength:6
          },   
			}
		})
		})
</script>